<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>




	<filter>
		<filter-name>hrFilter</filter-name>
		<filter-class>filter.HRFilter</filter-class>
	</filter>
	<filter>
		<filter-name>hrActionFilter</filter-name>
		<filter-class>filter.HRActionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hrFilter</filter-name>
		<url-pattern>/HR/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hrActionFilter</filter-name>
		<url-pattern>/hr/*</url-pattern>
	</filter-mapping>




	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>back_end_sign_in.jsp</welcome-file>
	</welcome-file-list>


</web-app>
